@charset "utf-8";
.xxxx {
    background-color: #5EBBBC;
}
.otrafuente {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	height: 0px;
	background-color: #A3B8B7;
}
